.nav{
    height: 100px;
    width: 100%;
    background-color: black;
    display:flex;
    align-items: center;
}
.logo{
    width: 40%;
    font-size: 40px;
    padding-left: 50px;
}
.logo a{
    text-decoration: none;
    color: goldenrod;
}
.logo a:hover{
    text-decoration: underline rgb(19, 131, 217);
    color: aqua;
}
.type{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.type a{
    text-decoration: none;
    color:aqua;
    font-size: 30px;
}
.type a:hover{
    text-decoration: underline;
}
.main{
    height: 700px;
    width: 100%;
    background-color: rgb(42, 58, 70);
    display: flex;
    padding-top: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img1{
    width: 30%;
    height: 280px;
    padding-bottom: 40px;
    background-image: url("https://i.pinimg.com/originals/4f/87/9e/4f879eb74e46aa09f04e6d39dd952e7f.jpg");
    background-size: cover;
text-align: center;
margin-bottom: 20PX;
font-size: 40px;
    color: rgb(42, 53, 53);
    border: 2px solid rgb(79, 85, 90);
    transition: all 0.25s linear;
}
.img1:hover{
    transform: scale(1.1);
}

.img2{
    width: 30%;
    height: 280px;
    padding-bottom: 40px;
    background-image: url("https://th.bing.com/th/id/OIP.HtSgmSHc2pzK0MAnSO_3TwHaE5?rs=1&pid=ImgDetMain");
    background-size: cover;
    margin-bottom: 20px;
text-align: center;
font-size: 40px;
    color: rgb(42, 53, 53);
    border: 2px solid rgb(79, 85, 90);
    transition: all 0.25s linear;
}
.img2:hover{
    transform: scale(1.1);
}
.img3{
    width: 30%;
    height: 280px;
    padding-bottom: 40px;
    background-image: url("https://th.bing.com/th/id/R.b363b4954042e87313216a3165c1ae34?rik=I93g7scTe%2bUaAg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f8%2f5%2f0%2f91972.jpg&ehk=mXQ6zowbzbjziCJxtQ2wLWfhypvVv6jEk5yYwQZgw7E%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
text-align: center;
margin-bottom: 20px;
font-size: 40px;
    color: rgb(42, 53, 53);
    border: 2px solid rgb(79, 85, 90);
    transition: all 0.25s linear;
}
.img3:hover{
    transform: scale(1.1);
}
.img7{
    display: none;
}
.img8{
    display: none;
}
.img9{
    display:none;
}
.img4{
    width: 30%;
    height: 280px;
    padding-bottom: 40px;
    background-image: url("https://th.bing.com/th/id/OIP.MozpYf8IBtiOF8JX4TicmwHaE7?rs=1&pid=ImgDetMain");
    background-size: cover;
text-align: center;
font-size: 40px;
margin-bottom: 20PX;
    color: rgb(42, 53, 53);
    border: 2px solid rgb(79, 85, 90);
    transition: all 0.25s linear;
}

.img4:hover{
    transform: scale(1.1);
}
.small-box{
    width: 150px;
    background-color: black;
    height: 130px;
    position: absolute;
    top: 102px;
    left: -150px;
    display: none;
    transition: all 0.25s linear;
    z-index: 4;
}
.small-box ul{
    padding-left: 0;
}
.small-box ul li{
    list-style: none;
    height: 28px;
    font-size: 20px;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
    text-align: center;
    cursor: pointer;
    z-index: 5;
}
.img5{
    width: 30%;
    height: 280px;
    padding-bottom: 40px;
    background-image: url("https://www.thewowstyle.com/wp-content/uploads/2015/01/Zuckerman_Wildlife_Photography_image02.jpg");
    background-size: cover;
text-align: center;
font-size: 40px;
margin-bottom: 20PX;
    color: rgb(42, 53, 53);
    border: 2px solid rgb(79, 85, 90);
    transition: all 0.25s linear;
}

.img5:hover{
    transform: scale(1.1);
}

.img6{
    width: 30%;
    height: 280px;
    padding-bottom: 40px;
    background-image: url("https://th.bing.com/th/id/R.599a495864228dd4cb75de84d9968350?rik=GAE%2b5cosmBIVgQ&riu=http%3a%2f%2f4.bp.blogspot.com%2f-KD33uTe8GyE%2fUHB1YPEsrfI%2fAAAAAAAAGv8%2f26jM_2y8rWY%2fs1600%2fThe%2bTiger%2bStrikes%2bAgain%2bWild%2bAnimals239.jpg&ehk=q9wphNhhvUdj1Ocuckh4yzSxncq9%2fJouGnpgcFh2Fqo%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
text-align: center;
font-size: 40px;
margin-bottom: 20PX;
    color: rgb(42, 53, 53);
    border: 2px solid rgb(79, 85, 90);
    transition: all 0.25s linear;
}

.img6:hover{
    transform: scale(1.1);
}
footer{
    width: 100%;
    height: 250px;
    background-color:rgba(42, 58, 70, 0.853);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.foot{
    width: 100%;
    display: flex;
    justify-content: center;
padding-bottom: 30px;
}
.foot i{
    font-size: 40px;
    color: rgb(42, 58, 70);
    font-weight: 700;
    margin-right: 20px;
}
.categories{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    transition: all 1s;
}
.categories a{
    text-decoration: none;
    color: initial;
}
.categories li{
    list-style-type: none;
}
.categories li:hover{
    color: white;
}
@media(min-width:100px) and (max-width:400px){
    .small-box{
        display: block;
    }
    
   .type{
    display: none;
   }
   .logo{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .nav i{
    display: inline-block;
    columns: white;
   }
   .icon-box{
    width: 30px;
    display: block;
    margin: 0px 10px;
   }
   .icon{
    width: 100%;
    height: 0px;
    border: 2px solid white;
    margin: 4px 0px;
   }
   .main{
    height: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   }
   .img1{
    height: 100px;
    background-size:100% 100%;
    margin:10px;
   }
   .img2{
    height: 100px;
    background-size:100% 100%;
margin:10px;
   }
   .img3{
    height: 100px;
    background-size:100% 100%;
margin:10px;
   }
   .img4{
    height: 100px;
    background-size:100% 100%;
margin:10px;
   }
   .img5{
    height: 100px;
    background-size:100% 100%;
margin:10px;
   }
   .img6{
    height: 100px;
    background-size:100% 100%;
   margin:10px; 
   }
   .img7{
    height: 100px;
    background-size:100% 100%;
   margin:10px; 
   }
   .img8{
    height: 100px;
    background-size:100% 100%;
   margin:10px; 
   }
   .img9{
    height: 100px;
    background-size:100% 100%;
   margin:10px; 
   }
   .img610{
    height: 100px;
    background-size:100% 100%;
   margin:10px; 
   }
   .categories{
    font-size: 10px;
    width: 100%;
    display:flex;
    justify-content: space-around;
   }
   .categories a{
    font-size: 10px;
   }
   .foot{
    padding-bottom: 10px;
   }
   .foot i{
    font-size: 20px;
   }
   footer{
    padding-bottom: 10px;
    height: 100%;
   }
   ul{
    padding: 0px;
   }
}
@media(min-width:400px) and (max-width:900px) {
    .small-box{
        display: block;
    }
    .type{
     display: none;
    }
    .logo{
     width: 60%;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .nav i{
     display: inline-block;
     columns: white;
    }
    .icon-box{
     width: 30px;
     display: block;
     margin: 0px 10px;
    }
    .icon{
     width: 100%;
     height: 0px;
     border: 2px solid white;
     margin: 4px 0px;
    }
    .main{
     height: 100%;
     padding-top: 10px;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
    }
    .img1{
     height: 140px;
     background-size:100% 100%;
     margin-bottom:10px;
    }
    .img2{
     height: 140px;
     background-size:100% 100%;
 margin-bottom:10px;
    }
    .img3{
     height: 140px;
     background-size:100% 100%;
 margin-bottom:10px;
    }
    .img4{
     height: 140px;
     background-size:100% 100%;
 margin-bottom:10px;
    }
    .img5{
     height: 140px;
     background-size:100% 100%;
 margin-bottom:10px;
    }
    .img6{
     height: 140px;
     background-size:100% 100%;
    margin-bottom:10px; 
   
    }
    .categories{
     font-size: 10px;
     width: 100%;
     display:flex;
     justify-content: space-around;
    }
    .categories a{
     font-size: 10px;
    }
    .foot{
     padding-bottom: 10px;
    }
    .foot i{
     font-size: 20px;
    }
    footer{
     padding-bottom: 10px;
     height:100%;
    }
    ul{
     padding: 0px;
    }
    
 }